.container {
    max-width: 950px;
    margin: auto;
}

.box-with-shadow {
    margin-bottom: 30px;
    border: 1px solid lightgray;
    padding: 40px;
    border-radius: 40px;
    overflow: hidden;
    transition: box-shadow .3s;
    box-shadow: 10px 10px 49px -4px rgba(0,0,0,0.1);
}
.box-with-shadow:hover {
    box-shadow: 10px 10px 49px -4px rgba(0,0,0,0.4);
}

.box-with-shadow.has-title h3 {
    text-align: center;
    transition: all .3s;
    cursor: pointer;
}

.box-with-shadow.has-title h3:hover {
    color: darkgray;
}


header {
}

.profile-details {
    float: left;
    padding-left: 50px;
    width: 70%;
}

.profile-picture {
    width: 30%;
    max-width: 130px;
    border-radius: 100%;

    float: left;
}

.alinear{
    text-align: justify;
}

.is-half {
    width: calc(50% - 40px);
    float: left;
    margin: 0 20px 30px;
    min-height: 395px;
}
.titulo{
    padding-bottom: 5px;
}

.letritas{
    font-size: 14px;
    font-family: "Arial Narrow" ;
}
footer {
    text-align: right;
    padding: 40px;
}
@media screen and (max-width: 490px) {
    header {
        text-align: center;
    }

    .profile-picture {
        margin-bottom: 20px;
    }

    .profile-details, .profile-picture {
        float: none;
        width: 100%;
        padding: 0;
    }

    .is-half {
        width: calc(100%);
        float: none;
        margin-left: 0;
        margin-right: 0;
    }

}
